# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# IDE (Android Studio / IntelliJ)
.idea/
app/.idea/
*.iml

# OS
.DS_Store

# Android Studio specific
/captures
.externalNativeBuild/
.cxx/

# IntelliJ files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx
local.properties


.claude/
.specify/
SPEC.md

/google-services.json
